.jobby-app-container {
  background-color: #0e88a7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1ebeb;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 30px;
}

@media screen and(max-width:600px) {
  .card-container {
    padding: 10px;
  }
}

.website-logoo {
  width: 150px;
  margin-bottom: 25px;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.login-button {
  background-color: #0e88a7;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  color: #fff;
  margin-top: 10px;
}
.label {
  color: #080808;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 900;
  margin-bottom: 8px;
}
.user-input {
  background: transparent;
  border: 1px double #0e88a7;
  width: 350px;
  border-radius: 5px;
  padding: 12px;
  outline: none;
  font-size: 16px;
  color: black;
}
.error-msg {
  align-self: start;
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  line-height: 16px;
  color: #ff0b37;
}

@media screen and (max-width: 600px) {
  .card-container {
    width: 90vw;
  }

  .user-input {
    width: 100%;
  }
}
